/* PageNotFound.css */
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* You can change this to your preferred background color */
  }
  
  .not-found-heading {
    font-size: 4rem;
    color: #ff5733; /* You can change this to your preferred text color */
  }
  
  .not-found-text {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }